.idea
.terraform
.vscode
.aws

node_modules

build
dist

coverage
.nyc_output

bin/env.vars

temp

# input vars file for deployment CI
input-vars.json

# temp terraform files
generated.tfvars

.DS_Store
deploy-output.json
